.MessageBlock--container {
  display: flex;
  flex-direction: row;
  padding: 20px 0;
  border-top: 1px solid #42454a;
}

.MessageBlock--container > img {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 25px;
  transition: border-radius 0.25s ease-in-out;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  margin-right: 20px;
}

.MessageBlock--header {
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
}

.MessageBlock--header > *:first-child {
  margin-right: var(--space-xs);
  font-size: 16px;
  font-weight: 500;
  color: white;
}

.MessageBlock--header > *:last-child {
  margin-right: var(--space-xs);
  font-size: 12px;
  font-weight: 500;
  color: #72767d;
}

.MessageBlock--message {
  font-size: 16px;
  font-weight: 400;
  color: #dcdcdc;
  text-shadow: 1px 1px 1px black;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-line;
}

.MessageBlock--container > *:last-child > *:not(:last-child) {
  margin-bottom: 3px;
}

.MessageBlock--header {
  margin-bottom: var(--space-xs) !important;
}
